<!-- ======= login form Section ======= -->
<section id="hero" class="counts pb-5">
    <div class="container">

      <div class="row" data-aos="fade-up">

        <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <div class="text-white">
                <h3>forgot Your Password</h3>
                <p>Enter your email, we'll send a reset link to your mail</p>
            </div>
            <% if(typeof err != 'undefined'){ %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Error</strong>: <%= err %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
              </div>
            <% }else if(typeof msg != 'undefined'){ %>
                <div class="alert alert-success fade show" role="alert">
                    <%= msg %>
                </div>
            <% } %>
            <form action="/forgot-password" method="post" role="form">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div><br>
              <button class="btn btn-block" style="background-color: #1acc8d; color:#f0f0f0;" type="submit">Submit</button>
              <span class="text-white">| <a href="/login" class="text-white">Back to Login?</a></span>
            </form>

          </div>

      </div>

    </div>
</section><!-- End login form Section -->