<%- include("includes/hero")%>


<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Check The Features</p>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="/img/details-1.png" id="no-disp" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>See your link gain more clicks through shorter and readable links.</h3>
          <p class="fst-italic">
            Keep track of and view analytics of your shortened links
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Shorter URLs</li>
            <li><i class="bi bi-check"></i> Easy analytics</li>
            <li><i class="bi bi-check"></i> More clicks</li>
          </ul>
        </div>
      </div>

    </div>
</section><!-- End Features Section -->


<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

      <div class="row" data-aos="fade-up">

        <div class="col-lg-6 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Users</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Numerous URLs</p>
          </div>
        </div>

      </div>

    </div>
</section><!-- End Counts Section -->